[Unit]
Description=Example systemd service.

[Service]
Type=simple
ExecStart=sudo /home/ubuntu/autoIP/upload.sh

[Install]
WantedBy=multi-user.target
